*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;    
    font-size: 14px;
    color: #1c1e21;
    font-weight: normal;
    background: #f0f2f5;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.login-sheet {
    padding: 210px;
}

.container{
    max-width: 992px;
    margin: auto;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between {
    justify-content: space-between;
}

.content-left{
    max-width: 500px;
}
/*
.content-left h1{
    font-size: 50px;
    color: #1877f2;
    margin-bottom: 20px;
    font-weight: 900;
}*/

.fblogo {
    height: 110px;
    margin: 0;
}

.content-left h2{
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content-right{
    max-width: 450px;
    margin: auto;
    text-align: center;
}

.content-right form{
    width: 400px;
    height: 350px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.52);
    box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.52);
    margin-bottom: 30px;
}

.content-right form input{
    width: 100%;
    height: 50px;
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 15px;
}
/*
.content-right form input:hover{
    border: 2px solid #1877f2;
    background: #f0f2f5;
    
}*/

.content-right form input:focus {
    border:1px solid #1877f2;
    background:white;

}

.pressButton{
    font-size: 20px;
    background-color: #1877f2;
    height: 50px;
    color: white;
    line-height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.login a{
    display: block;
}

.create-account a{
    display: inline-block;
    margin-top: 5px;
    padding: 0 17px;
    background: #42b72a;
   
}

.create-account a:hover {
    background: #41AD2A;
}

.forgot a{
    font-size: 14px;
    line-height: 19px;
    color: #1877f2; 
}

.divisory {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.forgot a:hover,
.content-right p a:hover {
    text-decoration: underline;
}

.content-right p a {
    color: #1c1e21;
    font-weight: 600;
}

/*footer*/

.footer {
    background: white;
}

#footersubdiv {
    background: white;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

#languagediv,
#extralinksdiv {
    color: #8a8d91;
    margin-left: 450px;
    padding-top: 22px;
    padding-bottom: 10px;
}

#languagediv ul li,
#extralinksdiv ul li {
    text-align: left;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px; 
}

.language,
.extra {
    color: #8a8d91;;
}

#copyright {
    margin-left: 450px;
    color: #8a8d91;
}

